.event {
    display: flex;
    flex-direction: column;
}

.event > button {
    align-self: flex-end;
}

.next {
    background-color: lightblue;
    font-weight: bold;
}

.next > h2 {
    font-weight: bold;
}

