.userSearch {
    flex: 0 1 20%;
    background-color: rgb(239,239,239);
}

.user__status {
    font-style: italic;
}

.user {
    margin: .5em 0 2.5em 0;
    background-color: rgb(201,218,247);
    padding: .25em;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    text-align: center;
}