.friendList {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-between;
}

.friends {
    width: 100%;
    flex: 0 1 70%;
    border-left: black 2px solid;
    padding-left: .5em;
}

.friends__container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-content: flex-start;
    justify-content: space-evenly;
}

.friend {
    border: solid black 1px;
    padding: .25em;
    margin: 1em;
    flex: 0 1 25%;
}